{% extends 'main/main.html' %}

{% block body %}
<form action="register" method="POST">
    {% csrf_token %}
    <label>Username</label>
    <br>
    <input type="text" name="username" id="username" placeholder=" Enter Username">
    <br>
    <label>Email</label>
    <br>
    <input type="email" name="email" id="email" placeholder="Enter your email ">
    <br>
    <label>Password</label><br>
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <br>
 <label>Confirm Password</label><br>
 <input type="password" name="password" id="confrm_password"  placeholder="Confirm your password">
    <br> -->
    <button type="submit">Register</button>
</form>
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}
    {% endblock %}